.App {
  background: #222831;
  color: #fff;
  min-height: 100vh;
  height: 100%;
}
.bookApp {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background: #393E46;
}
.HeaderWrapper {
  position: relative;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(media/library.jpg);
  background-size: cover;
  background-position: top;
  height: 70vh;
}
.accordionBody {
  background: #393E46;
}
.accordion-header {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #393E46;
}
.header {
  font-size: 66px;
  background: none;
  width: 100%;
  padding-top: 45px;
  color: white;
  -webkit-text-stroke: 2px black;
}
